<table class="table table-hover">
  <thead>
    <tr>
      <td align="center"><b>Name</b></td>
      <td align="center"><b>Job Role</b></td>
      <td align="center"><b>Salary</b></td>
      <td align="center"><b>Birth</b></td>
      <td align="center"><b>Employee Registration</b></td>
      <td align="center" colspan="2"><b>Actions</b></td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let employee of employees">
      <td align="center"> {{employee.name}} </td>
      <td align="center"> {{employee.job_role}} </td>
      <td align="center"> {{employee.salary}} </td>
      <td align="center"> {{employee.birth}} </td>
      <td align="center"> {{employee.employee_registration}} </td>
      <td align="center"> <a [routerLink]="['/employees', employee_id]" class="btn btn-primary"> Edit </a></td>
      <td align="center"> <button (click)="deleteEmployee(employee_id)" class="btn btn-danger"> Delete </button></td>

    </tr>
  </tbody>


</table>
